/*
 * This is an adjustment of the original modena.css for a consistent dark theme.
 * Original modena.css here: https://gist.github.com/maxd/63691840fc372f22f470.
 */


/* Redefine base colors */
.root {
    /* Color Palette */
    SECONDARY_GREEN: #03dac6;

    PURPLE_50: #F3E5F5;
    LIGHT_BLUE_50: #E1F5FE;
    LIME_50: #F9FBE7;

    GREY_TICK_LABELS: #757575;

    -fx-base: #212121;
    -fx-background: #212121;

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 30%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20, 20, 20);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: #000000;

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

.toggle-button {
    base-color: #5e869f;
    -fx-background-color: base-color;
}

.toggle-button:selected {
    base-color: #CF6679;
}

.toggle-button:hover {
    -fx-background-color: derive(base-color, -10%);
}

.chart-plot-background {
    -fx-background-color: #212121
}

.chart-horizontal-zero-line {
    -fx-stroke: #757575;
}

.axis:left {
    -fx-tick-label-fill: GREY_TICK_LABELS;
}

/* Current Charts color scheme */
/* Set text fill color */
#current_scp1_label,
#current_scp2_label,
#current_scp3_label,
#current_scp1,
#current_scp2,
#current_scp3 {
    -fx-text-fill: SECONDARY_GREEN;
}

/* Set line stroke color */
#current_chart_scp1 .chart-series-area-line,
#current_chart_scp2 .chart-series-area-line,
#current_chart_scp3 .chart-series-area-line {
    -fx-stroke: SECONDARY_GREEN;
}

/* Set area graph fill color */
#current_chart_scp1 .chart-series-area-fill,
#current_chart_scp2 .chart-series-area-fill,
#current_chart_scp3 .chart-series-area-fill {
    -fx-fill: derive(SECONDARY_GREEN, -70%);
}

/* Temp Charts color scheme */
/* Set text fill color */
#temp_scp1_label,
#temp_scp2_label,
#temp_scp3_label,
#temp_scp1,
#temp_scp2,
#temp_scp3 {
    -fx-text-fill: CHART_COLOR_1;
}

/* Set line stroke color */
#temp_chart_scp1 .chart-series-area-line,
#temp_chart_scp2 .chart-series-area-line,
#temp_chart_scp3 .chart-series-area-line {
    -fx-stroke: CHART_COLOR_1;
}

/* Set area graph fill color */
#temp_chart_scp1 .chart-series-area-fill,
#temp_chart_scp2 .chart-series-area-fill,
#temp_chart_scp3 .chart-series-area-fill {
    -fx-fill: CHART_COLOR_1_TRANS_20;
}

/* Secondary, non-graphical displays */
/* Set voltage text fill color */
#voltage_scp1_label,
#voltage_scp2_label,
#voltage_scp3_label,
#voltage_scp1,
#voltage_scp2,
#voltage_scp3 {
    -fx-text-fill: LIME_50;
}

/* Set power text fill color */
#power_scp1_label,
#power_scp2_label,
#power_scp3_label,
#power_scp1,
#power_scp2,
#power_scp3 {
    -fx-text-fill: PURPLE_50;
}

/* Set duty cycle text fill color */
#duty_cycle_scp1_label,
#duty_cycle_scp2_label,
#duty_cycle_scp3_label,
#duty_cycle_scp1,
#duty_cycle_scp2,
#duty_cycle_scp3 {
    -fx-text-fill: LIGHT_BLUE_50;
}

/* Sliders */
.slider .axis  {
    -fx-tick-label-fill: GREY_TICK_LABELS;
    -fx-padding: 0;
}

.menu-bar {
    -fx-background-color: #212121;
}

.menu {
    -fx-background-color: #212121;
}

.menu:hover, .menu-item:hover {
    -fx-background-color: derive(#212121, +30%);
}

